# dependencies
node_modules/
.venv/
.juliaup/
bun.lockb
vendor/

# build outputs
dist/
out/
__pycache__/

# ide and development tools
.lake/
__debug_bin*
.gradio/

# sensitive files
awsconfig.json
.env
id_ed25519_*
credentials
*credentials.json
*.tar.gz
.secrets
backup/
.ssh/

# other
*.docx
